# POSTGRES
POSTGRES_USER=cerbero
POSTGRES_PASSWORD=abcdef
POSTGRES_DB=hono-chat
POSTGRES_PORT=5432
# PGADMIN
PGADMIN_EMAIL=user@mail.com
PGADMIN_PASSWORD=abcdef
# BACKEND
DATABASE_URL=postgres://cerbero:abcdef@localhost:5432/hono-chat
PORT=8787
# FRONTEND
