# POSTGRES
POSTGRES_USER=user
POSTGRES_PASSWORD=abcdef
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=db
DATABASE_URL=postgres://user:abcdef@postgres:5432/db
PORT=8787
# PGADMIN
PGADMIN_EMAIL=user@mail.com
PGADMIN_PASSWORD=abcdef
